button.custom-warn {
    background-color: #ff5722 !important; // Example custom warning color
    color: white !important;
  }
  
  button.custom-success {
    background-color: #4caf50 !important; // Example custom success color
    color: white !important;
  }
  
  button.custom-neutral {
    background-color: #607d8b !important; // Example custom neutral color
    color: white !important;
  }
  